@charset "UTF-8";



/*Typical Device Breackpoints

Pequenas Telas: max 600px
Celular: min 600px, max 767px
Tablet: min 768, max1023
Desktop: min 1024
Grandes Telas: min 1200px

*/

@media screen and (min-width:768px) {
    #soma, #subtracao, #divisao, #multiplicacao, #volumeDeEsfera, #volumeDeEsfera, #volumeDeCubo  {
        border-radius: 5px;
        background-color: white;
        color: #011126;
    
        text-align: center;
    
        display: inline-block;
        margin: auto;
        border-radius: 10px;
    
        width: 500px;
        height: 280px;
    
        margin-bottom: 20px;
    
    }

    #AreaDoTriangulo, #AreaDoCirculo, #AreaDoLosango, #AreaDoRetangulo, #volumeDeCilindro, #volumeDeCone {
        border-radius: 5px;
        background-color: white;
        color: #011126;
    
        text-align: center;
    
        display: inline-block;
        margin: auto;
        border-radius: 10px;
    
        width: 500px;
        height: 320px;
    
        margin-bottom: 20px;
    
    }
    #AreaDoCirculo, #AreaDoPentagono, #AreaDoQuadrado {
        border-radius: 5px;
        background-color: white;
        color: #011126;
    
        text-align: center;
    
        display: inline-block;
        margin: auto;
        border-radius: 10px;
    
        width: 500px;
        height: 250px;
    
        margin-bottom: 20px;
    }


   

    input {
        height: 40px;
        width: 80px;
        border: none;
        background-color: rgb(231, 231, 231);
        margin-bottom: 20px;
        text-align: center;
        
    }

    #submit {
        font-family: "poppins";
    
        background-color: rgb(204, 204, 204);
        color: rgb(6, 25, 68);
    
        width: 200px;
        height: 76px;
        border: none;
        border-radius: 5px;
        padding-top: 10px;
        
        
        display: grid;
        margin: auto;

        font-size: 1em;
        
        
        
    }

    

    #container  {
        display: flex;
        
        
        
    }
    #container > a {
        transition: 0.5s;
        padding: 10px 25px;
        border-radius: 5px;
        
    }

    #menu {
        display: none;
        
    }
   
    
}




    @media screen and (min-width:1024px) {
        article {
            display: grid;
            justify-content: center;
             
        }

        #soma, #subtracao, #divisao, #multiplicacao, #AreaDoCirculo, #AreaDoTriangulo {
            

            border-radius: 5px;
            background-color: white;
            color: #011126;
        
            text-align: center;
            
            margin: auto;
            border-radius: 10px;
        
            min-width: 600px;
            height: 300px;
        
            margin-bottom: 10px;
            margin: 40px;
        
        }

        #AreaDoTriangulo, #AreaDoLosango, #AreaDoRetangulo, #volumeDeCilindro, #volumeDeCone {
            border-radius: 5px;
            background-color: white;
            color: #011126;
        
            text-align: center;
        
            display: inline-block;
            margin: auto;
            border-radius: 10px;
        
            width: 600px;
            height: 320px;
        
            margin-bottom: 20px;
            margin: 40px;
        
        }
        #AreaDoCirculo, #AreaDoPentagono, #AreaDoQuadrado, #volumeDeEsfera, #volumeDeCubo  {

            border-radius: 5px;
            background-color: white;
            color: #011126;
        
            text-align: center;
        
            display: inline-block;
            margin: auto;
            border-radius: 10px;
        
            width: 600px;
            height: 250px;
            margin: 40px;
        
            margin-bottom: 20px;
        }

        #subtracao {
            padding-top: 15px;
            
        }

        #soma {
            padding-bottom: 15px;
        }
    
        input {
            height: 40px;
            width: 80px;
            border: none;
            background-color: rgb(231, 231, 231);
            margin-bottom: 20px;
            text-align: center;
            
        }
    
        #submit {
            font-family: "poppins";
        
            background-color: rgb(204, 204, 204);
            color: rgb(6, 25, 68);
        
            width: 200px;
            height: 76px;
            border: none;
            border-radius: 5px;
            
            
            display: grid;
            margin: auto;
    
            font-size: 1em;

            margin-top: 5px;
            
            
        }

        

       
        
    }
        

    @media screen and (min-width:1919px) {


        article {
            display: grid;
            justify-content: center;
             
        }

        #soma, #subtracao, #divisao, #multiplicacao {
            border-radius: 5px;
            background-color: white;
            color: #011126;
        
            text-align: center;

            
            margin: auto;
            border-radius: 10px;
        
            min-width: 600px;
            height: 300px;
        
            margin-bottom: 20px;
            margin: 40px;
        
        }
        #subtracao {
            padding-top: 15px;
            
            
        }

        #soma{
            padding-bottom: 15px;
        }


        #areaTriResult, #areaLosResult, #areaRetResult, #volCilResult, #volumeDeCone {
            padding-bottom: 5px;
        }
        
        #areaQuadResult, #areaPentResult, #areaCircResult {
            padding-bottom: 15px;
        }
        input {
            height: 40px;
            width: 80px;
            border: none;
            background-color: rgb(231, 231, 231);
            margin-bottom: 20px;
            text-align: center;
            
        }
    
        #submit {
            font-family: "poppins";
        
            background-color: rgb(204, 204, 204);
            color: rgb(6, 25, 68);
        
            width: 200px;
            height: 76px;
            border: none;
            border-radius: 5px;
            
            
            display: grid;
            margin: auto;
    
            font-size: 1em;
            
            
        }
    }
