@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500&display=swap');


  :root {
    --cor1: #011126;
    --cor2: #011C40;
    --cor3: #032859;
    --cor4: #074973;
    --cor5: #08678C;


}

body {
    
    height: 100vh;

    background: linear-gradient(to left top, #011126, #032859);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    font-family: "poppins", sans-serif;
}

#title {
    text-align: center;
    font-size: 3em;
}

#sec {
    

    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
    
}


#container {
    display: grid;
    justify-content: center;

    margin-bottom: 80px;
    

}

#menu {
    display: grid;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

#container > a {

    margin: 1px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #011126;
    padding: 20px 0px;
    width: 96vw;
    
}

#container > a:hover {

    background: linear-gradient(to left top, var(--cor4), #032859);
    

}

input {
    padding: 5px;
    height: 40px;
    width: 120px;
    border: none;
    background-color: rgb(231, 231, 231);
    margin-bottom: 10px;

    text-align: center;
    
    
}

#tabuadaNum {
    text-align: center;

    color: #011126;
    display: flexbox;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#submit {
    font-family: "poppins";

    background-color: rgb(204, 204, 204);
    color: rgb(6, 25, 68);

    width: 130px;
    height: 40px;
    

    border: none;
    border-radius: 5px;
    
    display: grid;
    margin: auto;

    text-align: center;

    margin-bottom: 20px;
    
    
}

#submit:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}


#seltab {
    display: none;

    width: 300px;
    height: 2190px;
    padding: 10px;

    color: #011126;

    text-align: center;
    
    font-size: 14px;

    overflow-y: hidden;

    margin: auto;
}

