@charset "UTF-8";



/*Typical Device Breackpoints

Pequenas Telas: max 600px
Celular: min 600px, max 767px
Tablet: min 768, max1023
Desktop: min 1024
Grandes Telas: min 1200px

*/

@media screen and (min-width:768px) {
   

    input {
        height: 40px;
        width: 120px;
        border: none;
        background-color: rgb(231, 231, 231);
        margin-bottom: 20px;
        text-align: center;
        
    }

    #sec {
        width: 400px;
        height: 250px;
    }


    #submit {
        font-family: "poppins";
    
        background-color: rgb(204, 204, 204);
        color: rgb(6, 25, 68);
    
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 5px;
        padding-top: 10px;
        
        
        display: grid;
        margin: auto;

        font-size: 1em;
        
        
        
    }

    
    #container  {
        display: flex;
        
        
        
    }
    #container > a {
        transition: 0.5s;
        padding: 10px 25px;
        border-radius: 5px;
        
    }

    #menu {
        display: none;
        
    }
   
    
}




    @media screen and (min-width:1024px) {
       
        input {
            height: 40px;
            width: 180px;
            border: none;
            background-color: rgb(231, 231, 231);
            margin-bottom: 20px;
            text-align: center;
            
        }

        #sec {
            width: 600px;
            height: 270px;
        }
    
        #submit {
            font-family: "poppins";
        
            background-color: rgb(204, 204, 204);
            color: rgb(6, 25, 68);
        
            width: 180px;
            height: 76px;
            border: none;
            border-radius: 5px;
            
            
            display: grid;
            margin: auto;
    
            font-size: 1em;

            margin-top: 5px;
            
            
        }  
        
        
   
    }

    @media screen and (min-width:1500px) {
       
        #sec {
            height: 300px;
            width: 650px;

            padding: 0px;
        }

        #tabuadaNum > h1 {
            padding-top: 25px;
            font-size: 2em;
        }

        input {
            height: 40px;
            width: 180px;
            border: none;
            background-color: rgb(231, 231, 231);
            margin-bottom: 20px;
            text-align: center;

            font-size: 1em;
            
        }
    
        #submit {
            font-family: "poppins"; 
            
        
            background-color: rgb(204, 204, 204);
            color: rgb(6, 25, 68);
        
            width: 200px;
            height: 55px;
            border: none;
            border-radius: 5px;
            
            
            display: grid;
            margin: auto;
    
            font-size: 1em;
            
            
        }

    }
        

    @media screen and (min-width:1919px) {

        #sec {
            height: 300px;
            width: 600px;

            padding: 0px;
        }

        #tabuadaNum > h1 {
            padding-top: 25px;
            font-size: 2em;
        }

        input {
            height: 40px;
            width: 180px;
            border: none;
            background-color: rgb(231, 231, 231);
            margin-bottom: 20px;
            text-align: center;

            font-size: 1.2em;
            
        }
    
        #submit {
            font-family: "poppins"; 
            
        
            background-color: rgb(204, 204, 204);
            color: rgb(6, 25, 68);
        
            width: 200px;
            height: 55px;
            border: none;
            border-radius: 5px;
            
            
            display: grid;
            margin: auto;
    
            font-size: 1em;
            
            
        }

    }